div.buy{
	width:1191px;
	margin:0 auto;
}
div.index{
	width:80px;
	text-align:right;
	margin:30px 0 20px 0;
	font-size:15px;
	color:#000;
}
.index-b{
	display:inline-block;
	width:0px;
	height:0px;
	border:6px solid transparent;
	border-right-color:#000;
	position:relative;
	top:0px;
	left:-7px;
}
div.mode,div.bill-lading,div.new-lading,div.pay,div.time,div.order,div.order-detail,div.money{
	border-top:1px dotted #000;
}
/*手风琴*/
div.new-lading{
	height: 0px;
    overflow: hidden;
    border: none;
	transition:all 1.3s;
}
.size{
	font-size:20px;
	margin:20px 0;
}
.mode-delivery{
	font-size:13px;
	margin:42px 0;
}
.mode-delivery>span{
	margin-left:15px;
	background:#E4007F;
	color:#fff;
	padding:2px;
	cursor:pointer;
}
.mode-site .default{
	color:#8D8D8D;
	font-size:14px;
	margin-right:20px;
}
.mode-site .bike-name{
	font-size:14px;
	margin-right:15px;
}
.mode-site .amend{
	display:inline-block;
	width:45px;
	height:20px;
	font-size:14px;
	color:#fff;
	background:#E4007F;
	text-align:center;
	line-height:20px;
}
.mode-choice{
	width:100%;
	padding:20px 10px;
	margin-top:12px;
	background:#EBEAEA;
	margin-bottom:30px;
	box-sizing:border-box;
}
.mode-choice>b{
	display:block;
	font-weight:normal;
	margin-top:12px;
}
.bill-lading .option{
	font-size:13px;
	color:#8d8d8d;
}
.name-phone{
	margin-left:80px;
}
.name-no1>input{
	position:relative;
	top:2px;
}
.name-no1{
	margin-bottom:10px;
}
.compellation{
	font-weight:normal;
	margin-right:10px;
}
p.new-name{
	font-size:14px;
	margin:20px 0;
}
p.new-name>a{
	display: inline-block;
    width: 80px;
    height: 20px;
    font-size: 14px;
    color: #fff;
    background: #E4007F;
    text-align: center;
    line-height: 20px;
}
.take-name,.take-phone,.append{
	margin-bottom:30px;
	font-size:14px;
}
.take-name i,.take-phone i{
	font-style:normal;
	color:#FF0000;
}
.take-name span,.take-phone span{
	display:inline-block;
	width:80px;
	text-align:right;
	margin:0 20px;
	font-size:14px;
}
.take-name input,.take-phone input{
	width:500px;
	height:40px;
	padding-left:10px;
	outline:none;
}
.append a{
    display: inline-block;
    width: 68px;
    height: 20px;
    font-size: 14px;
    color: #fff;
	margin-left:579px;
    background: #E4007F;
    text-align: center;
    line-height: 20px;
}
.alipay{
	margin-bottom:20px;
    font-size:14px;
}
.alipay input{
	position:relative;
	top:2px;
}
.time-elect>p{
	margin:20px 0;
	font-size:14px;
}
.indent{
	display:flex;
	font-size:14px;
	margin-bottom:23px;
}
.product{
	width:600px;
	text-align:center;
	margin-top: 35px;
}
.price{
	width:200px;
	text-align:center;
}
 .count{
	width:200px;
	text-align:center;
}
 .subtotal{
	width:190px;
	text-align:center;
}
.order-detail{
	font-size:14px;
}
.overall{
	display:flex;
	margin:25px 0;
}
.order-detail .product a img{
	width:153px;
	height:112px;
	float:left;
	margin-left:40px;
}
.order-detail .shopp{
	float:left;
	margin-left:45px;
	margin-top:30px;
}
.price,.count,.subtotal{
	margin-top:35px;
}
.present{
	float:right;
}
.present .account{
	width:480px;
	height:130px;
	padding:16px;
	border:1px solid #cfcfcf;
	margin:30px 0px;
}
.present a{
	display:inline-block;
	width:220px;
	height:52px;
	font-size:18px;
	line-height:52px;
	color:#fff;
	text-align:center;
	float:right;
	background:#e4007f;
}
.present span{
	display:block;
	margin-bottom:10px;
	font-size:14px;
}
.present span b{
	display:inline-block;
	width:105px;
}
.present span i{
	font-style:normal;
}
.extended{
	margin:40px 10px 0 0;
	float:right;
}
.extended i{
	font-weight:bold;
	color:#8fc31f;
}
/**请选择**/
 div.choice{
	display: none;
} 
div.choice-site{
	width:600px;
	height:260px;
	position:absolute;
	top:35%;
	left:36%;
}
div.padlock{
	position:absolute;
	top:-4px;
	right:9px;
	font-size:24px;
	z-index:20;
}
div.padlock a{
	color:#fff;
}
/**边*/
div.choice-top{
	width:598px;
	height:40px;
	background:rgba(0,0,0,0.35);;
	border-top:1px;
	border-left:1px;
	border-right:1px;
	border-color:#5f5f5f;
	border-top-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	position:absolute;
	top:0px;
	z-index:10;
}
div.choice-right{
	width:10px;
	height:208px;
	background:rgba(0,0,0,0.35);;
	border-right:1px;
	border-color:#5f5f5f;
	border-right-style:solid;
	position:absolute;
	right:0px;
	top:41px;
}
div.choice-bottom{
	width:598px;
	height:10px;
	background:rgba(0,0,0,0.35);;
	border-bottom:1px;
	border-left:1px;
	border-right:1px;
	border-color:#5f5f5f;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	position:absolute;
	bottom:0px;
	z-index:10;
}
div.choice-left{
	width:10px;
	height:208px;
	background:rgba(0,0,0,0.35);
	border-left:1px;
	border-color:#5f5f5f;
	border-left-style:solid;
	position:absolute;
	left:0px;
	top:41px;
}
div.choice-choose{
	width:584px;
	height:222px;
	position:absolute;
	padding:4px;
	box-sizing:border-box;
	top:28px;
	left:8px;
	background:#fff;
	border-radius:5px;
	z-index:20;
}
.provinces{
	width:575px;
	height:60px;
	border:1px solid #FCEAD1;
	background:#FFFCF3;
	padding:0 10px;
	box-sizing:border-box;
}
.provinces>select{
	margin-top: 18px;
    margin-bottom: 20px;
}
.provinces>select:first-child{
	width:150px;
	height:25px;
}
.provinces>select:not(:first-child){
	width:100px;
	height:25px;
}
.choose{
	position:absolute;
	bottom:10px;
	right:17px;
}
.choose a{
	display:inline-block;
	width:40px;
	height:20px;
	background:#E4007F;
	padding:2px;
	color:#fff;
	text-align:center;
	line-height:20px;
}
.minutely div input{
	position:relative;
	top:3px;
}
.minutely div span:first-child{
	margin-left:15px;
}
.ischecked{
	margin-bottom:10px;	
}
.err-name,.err-phone{
	margin-left:10px;
	display:none;
}
p.col{
	margin-top:13px;
}
p.color-r{
	margin-top:13px;
	margin-right:10px;
}
p.color-r>img{
	width: 30px;
  height: 30px
}
div.addp{
	margin-top:-18px;
}